* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #1f2937;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.container {
  background: #374151;
  width: 90%;
  max-width: 600px;

  padding: 30px;

  border-radius: 15px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 12px;

  border: none;
  border-radius: 8px;

  outline: none;
}

button {
  padding: 12px 20px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  font-weight: bold;

  background: #3b82f6;
  color: white;

  transition: 0.3s;
}

button:hover {
  transform: scale(1.03);
}

#btnGerar {
  width: 100%;
  margin-bottom: 20px;
}

.resultado h2 {
  margin: 15px 0;
}

p {
  line-height: 1.8;
}
